body {
    background: #eee;
}

#content {
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #444;
    margin: 0 auto;
    max-height: 148px;
    overflow: hidden;
    transition: max-height 0.7s;
}

#show-more {
    background: rgb(50,80,170);
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: 140px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

#content.open {
    max-height: 1000px;
    transition: max-height 2s;
}